# auditd-attack-mitre
# An enhanced Linux Auditd configuration mapped to MITRE's Attack Framework
#
# Compiled by Matteo Malvica
#
# Version  : 0.8
# Created  : 2018/08/17
# Modified : 2018/08/22
#
# Based on Florian Roth work

# Remove any existing rules
-D

# Buffer Size
## Feel free to increase this if the machine panic's
-b 8192

# Failure Mode
## Possible values: 0 (silent), 1 (printk, print a failure message), 2 (panic, halt the system)
-f 1

# Ignore errors
## e.g. caused by users or files not found in the local environment
-i

# Self Auditing ---------------------------------------------------------------

## Audit the audit logs
### Successful and unsuccessful attempts to read information from the audit records
-w /var/log/audit/ -k T1005_Data_From_Local_System_audit_log_0

## Auditd configuration
### Modifications to audit configuration that occur while the audit collection functions are operating
-w /etc/audit/ -p wa -k T1005_Data_From_Local_System_audit_log_1
-w /etc/libaudit.conf -p wa -k T1005_Data_From_Local_System_audit_log_2
-w /etc/audisp/ -p wa -k T1005_Data_From_Local_System_audit_log_3

## Monitor for use of audit management tools
-w /sbin/auditctl -p x -k T1005_Data_From_Local_System_audit_log_4
-w /sbin/auditd -p x -k T1005_Data_From_Local_System_audit_log_5

# Filters ---------------------------------------------------------------------

### We put these early because audit is a first match wins system.

## Ignore SELinux AVC records
-a always,exclude -F msgtype=AVC

## Ignore current working directory records
-a always,exclude -F msgtype=CWD

## Ignore EOE records (End Of Event, not needed)
-a always,exclude -F msgtype=EOE

## Cron jobs fill the logs with stuff we normally don't want (works with SELinux)
-a never,user -F subj_type=crond_t
-a exit,never -F subj_type=crond_t

## This prevents chrony from overwhelming the logs
-a never,exit -F arch=b64 -S adjtimex -F auid=unset -F uid=chrony -F subj_type=chronyd_t

## This is not very interesting and wastes a lot of space if the server is public facing
-a always,exclude -F msgtype=CRYPTO_KEY_USER

## VMWare tools
-a exit,never -F arch=b32 -S fork -F success=0 -F path=/usr/lib/vmware-tools -F subj_type=initrc_t -F exit=-2
-a exit,never -F arch=b64 -S fork -F success=0 -F path=/usr/lib/vmware-tools -F subj_type=initrc_t -F exit=-2
-a exit,never -F arch=b32 -S all -F exe=/usr/bin/vmtoolsd
-a exit,never -F arch=b64 -S all -F exe=/usr/bin/vmtoolsd

## Custom filters
-a exit,never -F arch=b32 -S all -F path=/usr/libexec/postfix
-a exit,never -F arch=b64 -S all -F path=/usr/libexec/postfix
-a exit,never -F arch=b32 -S all -F exe=/usr/sbin/postdrop
-a exit,never -F arch=b64 -S all -F exe=/usr/sbin/postdrop
-a exit,never -F arch=b32 -S all -F exe=/usr/sbin/sendmail
-a exit,never -F arch=b64 -S all -F exe=/usr/sbin/sendmail
-a exit,never -F arch=b32 -S all -F exe=/usr/sbin/ausearch
-a exit,never -F arch=b64 -S all -F exe=/usr/sbin/ausearch
-a exit,never -F arch=b32 -S all -F path=/usr/lib/polkit-1/polkitd
-a exit,never -F arch=b64 -S all -F path=/usr/lib/polkit-1/polkitd
-a exit,never -F arch=b32 -S all -F exe=/usr/lib/polkit-1/polkitd
-a exit,never -F arch=b64 -S all -F exe=/usr/lib/polkit-1/polkitd
-a exit,never -F arch=b32 -S all -F exe=/usr/libexec/accounts-daemon
-a exit,never -F arch=b64 -S all -F exe=/usr/libexec/accounts-daemon

### High Volume Event Filter (especially on Linux Workstations)
-a exit,never -F arch=b32 -F dir=/dev/shm -k sharedmemaccess
-a exit,never -F arch=b64 -F dir=/dev/shm -k sharedmemaccess
-a exit,never -F arch=b32 -F dir=/var/lock/lvm -k locklvm
-a exit,never -F arch=b64 -F dir=/var/lock/lvm -k locklvm

# Rules -----------------------------------------------------------------------

## Kernel Related Events
-w /etc/sysctl.conf -p wa -k sysctl
-a always,exit -F perm=x -F auid!=-1 -F path=/sbin/insmod -k T1215_Kernel_Modules_and_Extensions_1
-a always,exit -F perm=x -F auid!=-1 -F path=/sbin/modprobe -k T1215_Kernel_Modules_and_Extensions_2
-a always,exit -F perm=x -F auid!=-1 -F path=/sbin/rmmod -k T1215_Kernel_Modules_and_Extensions_3
-a always,exit -F arch=b64 -S finit_module -S init_module -S delete_module -F auid!=-1 -k T1215_Kernel_Modules_and_Extensions_4
-a always,exit -F arch=b32 -S finit_module -S init_module -S delete_module -F auid!=-1 -k T1215_Kernel_Modules_and_Extensions_5
-w /etc/modprobe.conf -p wa -k T1215_Kernel_Modules_and_Extensions_6
-a always,exit -F arch=b64 -S kexec_load -k 	T1014_Rootkit_1
-a always,exit -F arch=b32 -S sys_kexec_load -k T1014_Rootkit_2

## Additional Hardware or logical disks
-a always,exit -F arch=b64 -S mount -S umount2 -F auid!=-1 -k T1200_Hardware_Addtions_1
-a always,exit -F arch=b32 -S mount -S umount -S umount2 -F auid!=-1 -k T1200_Hardware_Addtions_2
-a always,exit -F arch=b64 -S swapon -S swapoff -F auid!=-1 -k T1200_Hardware_Addtions_3
-a always,exit -F arch=b32 -S swapon -S swapoff -F auid!=-1 -k T1200_Hardware_Addtions_4

## Time Related Events
-a exit,always -F arch=b32 -S adjtimex -S settimeofday -S clock_settime -k T1099_Timestomp_1
-a exit,always -F arch=b64 -S adjtimex -S settimeofday -S clock_settime -k T1099_Timestomp_2
-a always,exit -F arch=b32 -S clock_settime -k T1099_Timestomp_3
-a always,exit -F arch=b64 -S clock_settime -k T1099_Timestomp_4
-w /etc/localtime -p wa -k T1099_Timestomp_5

## Stunnel
-w /usr/sbin/stunnel -p x -k T1079_Multilayer_Encryption

## Cron configuration & scheduled jobs related events
-w /etc/cron.allow -p wa -k T1168_Local_Job_Scheduling_1
-w /etc/cron.deny -p wa -k T1168_Local_Job_Scheduling_2
-w /etc/cron.d/ -p wa -k T1168_Local_Job_Scheduling_3
-w /etc/cron.daily/ -p wa -k T1168_Local_Job_Scheduling_4
-w /etc/cron.hourly/ -p wa -k T1168_Local_Job_Scheduling_5
-w /etc/cron.monthly/ -p wa -k T1168_Local_Job_Scheduling_6
-w /etc/cron.weekly/ -p wa -k T1168_Local_Job_Scheduling_7
-w /etc/crontab -p wa -k T1168_Local_Job_Scheduling_8
-w /var/spool/cron/crontabs/ -k T1168_Local_Job_Scheduling_9
-w /etc/inittab -p wa -k T1168_Local_Job_Scheduling_10
-w /etc/init.d/ -p wa -k T1168_Local_Job_Scheduling_11
-w /etc/init/ -p wa -k T1168_Local_Job_Scheduling_12
-w /etc/at.allow -p wa -k T1168_Local_Job_Scheduling_13
-w /etc/at.deny -p wa -k T1168_Local_Job_Scheduling_14
-w /var/spool/at/ -p wa -k T1168_Local_Job_Scheduling_15
-w /etc/anacrontab -p wa -k T1168_Local_Job_Scheduling_16

## Account Related Events
-w /etc/sudoers -p wa -k T1078_Valid_Accounts_1
-w /usr/bin/passwd -p x -k T1078_Valid_Accounts_2
-w /usr/sbin/groupadd -p x -k T1078_Valid_Accounts_3
-w /usr/sbin/groupmod -p x -k T1078_Valid_Accounts_4
-w /usr/sbin/addgroup -p x -k T1078_Valid_Accounts_5
-w /usr/sbin/useradd -p x -k T1078_Valid_Accounts_6
-w /usr/sbin/usermod -p x -k T1078_Valid_Accounts_7
-w /usr/sbin/adduser -p x -k T1078_Valid_Accounts_8

## Privleged Command Execution Related Events
-a always,exit -F path=/usr/sbin/userdel -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_1
-a always,exit -F path=/bin/ping -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_2
-a always,exit -F path=/bin/umount -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_3
-a always,exit -F path=/bin/mount -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_4
-a always,exit -F path=/bin/su -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_5
-a always,exit -F path=/bin/chgrp -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_6
-a always,exit -F path=/bin/ping6 -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_7
-a always,exit -F path=/sbin/pam_timestamp_check -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_8
-a always,exit -F path=/sbin/unix_chkpwd -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_9
-a always,exit -F path=/sbin/pwck -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_10
-a always,exit -F path=/usr/sbin/suexec -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_11
-a always,exit -F path=/usr/sbin/usermod -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_12
-a always,exit -F path=/usr/sbin/newusers -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_13
-a always,exit -F path=/usr/sbin/groupdel -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_14
-a always,exit -F path=/usr/sbin/semanage -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_15
-a always,exit -F path=/usr/sbin/usernetctl -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_16
-a always,exit -F path=/usr/sbin/ccreds_validate -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_17
-a always,exit -F path=/usr/sbin/userhelper -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_18
-a always,exit -F path=/usr/libexec/openssh/ssh-keysign -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_19
-a always,exit -F path=/usr/bin/Xorg -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_20
-a always,exit -F path=/usr/bin/rlogin -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_21
-a always,exit -F path=/usr/bin/sudoedit -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_22
-a always,exit -F path=/usr/bin/at -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_23
-a always,exit -F path=/usr/bin/rsh -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_24
-a always,exit -F path=/usr/bin/gpasswd -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_25
-a always,exit -F path=/usr/bin/kgrantpty -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_26
-a always,exit -F path=/usr/bin/crontab -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_27
-a always,exit -F path=/usr/bin/sudo -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_28
-a always,exit -F path=/usr/bin/staprun -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_29
-a always,exit -F path=/usr/bin/rcp -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_30
-a always,exit -F path=/usr/bin/passwd -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_31
-a always,exit -F path=/usr/bin/chsh -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_32
-a always,exit -F path=/usr/bin/chfn -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_33
-a always,exit -F path=/usr/bin/chage -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_34
-a always,exit -F path=/usr/bin/setfacl -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_35
-a always,exit -F path=/usr/bin/chacl -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_36
-a always,exit -F path=/usr/bin/chcon -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_37
-a always,exit -F path=/usr/bin/newgrp -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_38
-a always,exit -F path=/usr/bin/newrole -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_39
-a always,exit -F path=/usr/bin/kpac_dhcp_helper -F perm=x -F auid>=500 -F auid!=4294967295 -k T1078_Valid_Accounts_40

## Privilege to root
-a exit,always -F arch=b64 -F auid>500 -F  uid=0 -F auid!=4294967295 -S execve -k T1068_Exploitation_for_Privilege_Escalation_1
-a exit,always -F arch=b32 -F auid>500 -F  uid=0 -F auid!=4294967295 -S execve -k T1068_Exploitation_for_Privilege_Escalation_2

## Media Export Related Events
-a always,exit -F arch=b32 -S mount -F auid>=500 -F auid!=4294967295 -k T1052_Exfiltration_Over_Physical_Medium_1
-a always,exit -F arch=b64 -S mount -F auid>=500 -F auid!=4294967295 -k T1052_Exfiltration_Over_Physical_Medium_2

## Session Related Events
-w /var/run/utmp -p wa -k T1108_Redundant_Access_1
-w /var/log/wtmp -p wa -k T1108_Redundant_Access_2
-w /var/log/btmp -p wa -k T1108_Redundant_Access_3

## Files Obfuscation or Manipulation
-w /etc/hosts -p wa -k T1027_Obfuscated Files or Information_1
-w /etc/sysconfig/network -p wa -k T1027_Obfuscated Files or Information_2
-w /etc/network/ -p wa -k T1027_Obfuscated Files or Information_3
-a always,exit -F dir=/etc/NetworkManager/ -F perm=wa -k T1027_Obfuscated Files or Information_4
-w /etc/sysconfig/network -p wa -k T1027_Obfuscated Files or Information_5

## Login Related Events
-w /var/log/faillog -p wa -k T1021_Remote_Services_1
-w /var/log/lastlog -p wa -k T1021_Remote_Services_2
-w /var/log/tallylog -p wa -k T1021_Remote_Services_3

## Pam Related Events
-w /etc/pam.d/ -p wa -k T1071_Standard_Application_Layer_Protocol_1
-w /etc/security/limits.conf -p wa  -k T1071_Standard_Application_Layer_Protocol_2
-w /etc/security/pam_env.conf -p wa -k T1071_Standard_Application_Layer_Protocol_3
-w /etc/security/namespace.conf -p wa -k T1071_Standard_Application_Layer_Protocol_4
-w /etc/security/namespace.init -p wa -k T1071_Standard_Application_Layer_Protocol_5
-w /etc/pam.d/common-password -p wa -k T1201_Password_Policy_Discovery_1

## SSH Related Events
-w /etc/ssh/sshd_config -k T1021_Remote_Services_1

## Priv Escalation Related Events
-w /bin/su -p x -k T1169_Sudo_1
-w /usr/bin/sudo -p x -k T1169_Sudo_2
-w /etc/sudoers -p rw -k T1169_Sudo_3
-a always,exit -F arch=b32 -S chmod -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_1
-a always,exit -F arch=b32 -S chown -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_2
-a always,exit -F arch=b32 -S fchmod -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_3
-a always,exit -F arch=b32 -S fchmodat -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_4
-a always,exit -F arch=b32 -S fchown -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_5
-a always,exit -F arch=b32 -S fchownat -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_6
-a always,exit -F arch=b32 -S fremovexattr -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_7
-a always,exit -F arch=b32 -S fsetxattr -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_8
-a always,exit -F arch=b32 -S lchown -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_9
-a always,exit -F arch=b32 -S lremovexattr -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_10
-a always,exit -F arch=b32 -S lsetxattr -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_11
-a always,exit -F arch=b32 -S removexattr -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_12
-a always,exit -F arch=b32 -S setxattr -F auid>=500 -F auid!=4294967295 -k T1166_Seuid_and_Setgid_13
-a always,exit -F arch=b64 -S setuid -S setgid -S setreuid -S setregid -k T1166_Seuid_and_Setgid_14
-a always,exit -F arch=b32 -S setuid -S setgid -S setreuid -S setregid -k T1166_Seuid_and_Setgid_15
-a always,exit -F arch=b64 -S setuid -S setgid -S setreuid -S setregid -F exit=EPERM -k T1166_Seuid_and_Setgid_16
-a always,exit -F arch=b32 -S setuid -S setgid -S setreuid -S setregid -F exit=EPERM -k T1166_Seuid_and_Setgid_17
-w /usr/bin/ -p wa -k T1068_Exploitation_for_Privilege_Escalation_3
-a always,exit -F arch=b32 -S all -k T1068_Exploitation_for_Privilege_Escalation_4

## Power state
-w /sbin/shutdown -p x -k Power_State_Change_1
-w /sbin/poweroff -p x -k Power_State_Change_2
-w /sbin/reboot -p x -k Power_State_Change_3
-w /sbin/halt -p x -k Power_State_Change_4

## Recon Related Events
-w /etc/group -p rxaw -k T1087_Account_Discovery_1
-w /etc/passwd -p rxaw -k TT1087_Account_Discovery_2
-w /etc/gshadow -p rxaw -k T1087_Account_Discovery_3
-w /etc/shadow -p rxaw -k T1087_Account_Discovery_4
-w /etc/security/opasswd -k T1087_Account_Discovery_5
-w /usr/sbin/nologin -k T1087_Account_Discovery_6
-w /sbin/nologin -k T1087_Account_Discovery_7
-w /usr/bin/whoami -p x -k T1033_System_Owner_User_Discovery_8
-w /etc/hostname -p r -k T1082_System_Information_Discovery_9
-w /sbin/iptables -p x -k T1082_System_Information_Discovery_10
-w /sbin/ifconfig -p x -k T1082_System_Information_Discovery_11
-w /etc/login.defs -p wa -k T1082_System_Information_Discovery_12
-w /etc/resolv.conf -k T1016_System_Network_Configuration_Discovery_13
-w /etc/hosts.allow -k T1016_System_Network_Configuration_Discovery_14
-w /etc/hosts.deny -k T1016_System_Network_Configuration_Discovery_15
-w /etc/securetty -p wa -k T1082_System_Information_Discovery_16
-w /var/log/faillog -p wa -k T1082_System_Information_Discovery_17
-w /var/log/lastlog -p wa -k T1082_System_Information_Discovery_18
-w /var/log/tallylog -p wa -k T1082_System_Information_Discovery_19
-w /usr/sbin/tcpdump -p x -k T1049_System_Network_Connections_discovery_20
-w /usr/sbin/traceroute -p x -k T1049_System_Network_Connections_discovery_21
-w /usr/bin/wireshark -p x -k T1049_System_Network_Connections_discovery_22
-w /usr/bin/rawshark -p x -k T1049_System_Network_Connections_discovery_23

## Remote Access Related Events
-w /usr/bin/wget -p x -k T1219_Remote_Access_Tools_1
-w /usr/bin/curl -p x -k T1219_Remote_Access_Tools_2
-w /usr/bin/base64 -p x -k T1219_Remote_Access_Tools_3
-w /bin/nc -p x -k T1219_Remote_Access_Tools_4
-w /bin/netcat -p x -k T1219_Remote_Access_Tools_5
-w /usr/bin/ncat -p x -k T1219_Remote_Access_Tools_6
-w /usr/bin/ssh -p x -k T1219_Remote_Access_Tools_7
-w /usr/bin/socat -p x -k T1219_Remote_Access_Tools_8
-w /usr/bin/rdesktop -p x -k T1219_Remote_Access_Tools_9
-a exit,always -F arch=b32 -S mknod -S mknodat -k T1219_Remote_Access_Tools_10
-a exit,always -F arch=b64 -S mknod -S mknodat -k T1219_Remote_Access_Tools_11

## Critical elements access failures
-a exit,always -F arch=b64 -S open -F dir=/etc -F success=0 -k T1068_Exploitation_for_Privilege_Escalation_5
-a exit,always -F arch=b64 -S open -F dir=/bin -F success=0 -k T1068_Exploitation_for_Privilege_Escalation_6
-a exit,always -F arch=b64 -S open -F dir=/sbin -F success=0 -k T1068_Exploitation_for_Privilege_Escalation_7
-a exit,always -F arch=b64 -S open -F dir=/usr/bin -F success=0 -k T1068_Exploitation_for_Privilege_Escalation_8
-a exit,always -F arch=b64 -S open -F dir=/usr/sbin -F success=0 -k T1068_Exploitation_for_Privilege_Escalation_9
-a exit,always -F arch=b64 -S open -F dir=/var -F success=0 -k T1068_Exploitation_for_Privilege_Escalation_10
-a exit,always -F arch=b64 -S open -F dir=/home -F success=0 -k T1068_Exploitation_for_Privilege_Escalation_11
-a exit,always -F arch=b64 -S open -F dir=/srv -F success=0 -k T1068_Exploitation_for_Privilege_Escalation_12
-a always,exit -F dir=/home -F uid=0 -F auid!=4294967295 -k T1068_Exploitation_for_Privilege_Escalation_[admin_abuse]

## Code injection Related Events
-a always,exit -F arch=b32 -S ptrace -k T1055_Process_Injection_0
-a always,exit -F arch=b64 -S ptrace -k T1055_Process_Injection_1
-a always,exit -F arch=b32 -S ptrace -F a0=0x4 -k T1055_Process_Injection_2
-a always,exit -F arch=b64 -S ptrace -F a0=0x4 -k T1055_Process_Injection_3
-a always,exit -F arch=b32 -S ptrace -F a0=0x5 -k T1055_Process_Injection_4
-a always,exit -F arch=b64 -S ptrace -F a0=0x5 -k T1055_Process_Injection_5
-a always,exit -F arch=b32 -S ptrace -F a0=0x6 -k T1055_Process_Injection_6
-a always,exit -F arch=b64 -S ptrace -F a0=0x6 -k T1055_Process_Injection_7
-w /etc/ld.so.conf -p wa -k libpath -k T1055_Process_Injection_8
-w /bin/systemctl -p wa -k T1055_Process_Injection_9
-w /etc/systemd/ -p wa -k T1055_Process_Injection_10

# Socket Creations
# will catch both v4 and v6
-a always,exit -F arch=b32 -S socket -F a0=2  -k T1011_Exfiltration_Over_Other_Network_Medium_1
-a always,exit -F arch=b64 -S socket -F a0=2  -k T1011_Exfiltration_Over_Other_Network_Medium_2
-a always,exit -F arch=b32 -S socket -F a0=10 -k T1011_Exfiltration_Over_Other_Network_Medium_3
-a always,exit -F arch=b64 -S socket -F a0=10 -k T1011_Exfiltration_Over_Other_Network_Medium_4

# Application Deployment Software
-w /usr/bin/rpm -p x -k T1017_Application_Deployment_Software_0
-w /usr/bin/yum -p x -k T1017_Application_Deployment_Software_1
-w /sbin/yast -p x -k T1017_Application_Deployment_Software_2
-w /sbin/yast2 -p x -k T1017_Application_Deployment_Software_3
-w /bin/rpm -p x -k T1017_Application_Deployment_Software_4
-w /usr/bin/zypper -k T1017_Application_Deployment_Software_5
-w /usr/bin/dpkg -p x -k T1017_Application_Deployment_Software_6
-w /usr/bin/apt-add-repository -p x -k T1017_Application_Deployment_Software_7
-w /usr/bin/apt-get -p x -k T1017_Application_Deployment_Software_8
-w /usr/bin/aptitude -p x -k T1017_Application_Deployment_Software_9
-w /etc/puppet/ssl -p wa -k T1017_Application_Deployment_Software_10
-a exit,always -F arch=b64 -S open -F dir=/opt/BESClient -F success=0 -k T1017_Application_Deployment_Software_11
-w /var/opt/BESClient/ -p wa  -k T1017_Application_Deployment_Software_12
-w /etc/chef -p wa  -k T1017_Application_Deployment_Software_13

## Shell configuration Persistence Related Events
-w /etc/profile.d/ -p wa -k T1156_bash_profile_and_bashrc_0
-w /etc/profile -p wa -k T1156_bash_profile_and_bashrc_1
-w /etc/shells -p wa  -k T1156_bash_profile_and_bashrc_2
-w /etc/bashrc -p wa  -k T1156_bash_profile_and_bashrc_3
-w /etc/csh.cshrc -p wa  -k T1156_bash_profile_and_bashrc_4
-w /etc/csh.login -p wa  -k T1156_bash_profile_and_bashrc_5

# Make the configuration immutable --------------------------------------------
##-e 1
